<section class="relative mt-5 max-w-6xl  mx-auto px-4">
	<!-- Search Container: Houses all search-related elements -->
	<div class="bg-white rounded-2xl shadow-lg  border-1 border-sky-50 p-4 md:p-6">
		<!-- Category Tabs: Toggle between different content types -->
		<div class="flex flex-wrap gap-2 mb-4">
			<!-- Village Category Button -->
			<button [ngClass]="{'bg-[#1C2A0E] text-white':activeTab==GlobalEnums.village}"
				(click)="setActiveTabs(GlobalEnums.village)"
				type="button"
				data-category="villages"
				class="category-btn cursor-pointer px-4 py-2 rounded-full text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all text-sm flex items-center gap-2">
				<svg xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5">
					<path stroke-linecap="round"
						stroke-linejoin="round"
						d="M12 2.25v19.5m0 0l-7.5-7.5m7.5 7.5l7.5-7.5"></path>
				</svg>
				Villages
			</button>
			<!-- Homestay Category Button -->
			<button [ngClass]="{'bg-[#1C2A0E] text-white':activeTab==GlobalEnums.homestays}"
				(click)="setActiveTabs(GlobalEnums.homestays)"
				type="button"
				data-category="homestays"
				class="category-btn cursor-pointer px-4 py-2 rounded-full text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all text-sm flex items-center gap-2">
				<svg xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5">
					<path stroke-linecap="round"
						stroke-linejoin="round"
						d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
				</svg>
				Homestays
			</button>
			<!-- Activities Category Button -->
			<button [ngClass]="{'bg-[#1C2A0E] text-white':activeTab==GlobalEnums.activities}"
				(click)="setActiveTabs(GlobalEnums.activities)"
				type="button"
				data-category="activities"
				class="category-btn cursor-pointer px-4 py-2 rounded-full text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all text-sm flex items-center gap-2">
				<svg xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5">
					<path stroke-linecap="round"
						stroke-linejoin="round"
						d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z"></path>
				</svg>
				Activities
			</button>
			<button [ngClass]="{'bg-[#1C2A0E] text-white':activeTab==GlobalEnums.product}"
				(click)="setActiveTabs(GlobalEnums.product)"
				type="button"
				data-category="products"
				class="category-btn cursor-pointer px-4 py-2 rounded-full text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all text-sm flex items-center gap-2">
				<svg xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5">
					<path stroke-linecap="round"
						stroke-linejoin="round"
						d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"></path>
				</svg>
				Products
			</button>
			<button [ngClass]="{'bg-[#1C2A0E] text-white':activeTab==GlobalEnums.events}"
				(click)="setActiveTabs(GlobalEnums.events)"
				type="button"
				data-category="events"
				class="category-btn cursor-pointer px-4 py-2 rounded-full text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all text-sm flex items-center gap-2">
				<svg xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5">
					<path stroke-linecap="round"
						stroke-linejoin="round"
						d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"></path>
				</svg>
				Events
			</button>
			<!-- Clear Button -->
			<label class="block text-sm font-medium text-transparent mb-2">Clear</label>
			<button (click)="clearFilters()"
				type="button"
				id="clearButton"
				class="inline-flex items-center w-full md:w-fit border border-[#1C2A0E] rounded-full px-3 py-1 text-sm text-[#1C2A0E] hover:bg-[#1C2A0E] cursor-pointer hover:text-white transition-all duration-300 justify-center md:justify-start">
				<svg xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-4 h-4">
					<path stroke-linecap="round"
						stroke-linejoin="round"
						d="M6 18 18 6M6 6l12 12"></path>
				</svg>
				Clear Filters
			</button>
		</div>

		<!-- Search Form: Contains all search input fields -->
		<form [formGroup]="userInputs"
			class="grid md:grid-cols-12 gap-4">
			<!-- Location Dropdown -->
			<div class="md:col-span-3">
				<label class="block text-sm font-medium text-gray-700 mb-2">Location</label>
				<div class="relative">
					<select id="region" (change)="onDistrictChange()"
						formControlName="region"
						class="cursor-pointer w-full pl-10 pr-4 py-2.5 bg-gray-50 border border-gray-200 rounded-lg text-sm focus:ring-2 focus:ring-[#1C2A0E]/20 focus:border-[#1C2A0E] appearance-none">

						<option disabled
							selected
							value>
                        @if (districts.isDataAvailable) {
                            Select District
                        }
                        @else{
                            No Data Found
                        }
                                            
                      </option>

						<option *ngFor="let district of districts.items; let i=index"
							[value]="district.districtId">
							{{district.districtName}}
						</option>

						<!-- <option *ngFor="let district of districts" [value]="district.districtId">{{district.districtName}}</option> -->
					</select>
					<svg xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
					</svg>
				</div>
			</div>

			<!-- Village Dropdown -->
			<div class="md:col-span-3">
				<label class="block text-sm font-medium text-gray-700 mb-2">Village</label>
				<div class="relative">
					<select id="village"
						formControlName="village"
						class="w-full cursor-pointer pl-10 pr-4 py-2.5 bg-gray-50 border border-gray-200 rounded-lg text-sm focus:ring-2 focus:ring-[#1C2A0E]/20 focus:border-[#1C2A0E] appearance-none">
                        <option disabled
                        selected
                        value>
                    @if (villages.isDataAvailable) {
                        Select Village
                    }
                    @else{
                        No Data Found
                    }
                                        
                  </option>

                    <option *ngFor="let village of villages.items; let i=index"
                        [value]="village.committeeId">
                        {{village.committeeName}}
                    </option>

					</select>
					<svg xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
					</svg>
				</div>
			</div>

			<!-- Search Input -->
			<div class="md:col-span-4">
				<label class="block text-sm font-medium text-gray-700 mb-2">Search</label>
				<div class="relative">
					<input id="searchTerm"
						type="text"
						placeholder="Search homestays, activities, products..."
						formControlName="searchTerm"
						class="w-full pl-10 pr-4 py-2.5 bg-gray-50 border border-gray-200 rounded-lg text-sm focus:ring-2 focus:ring-[#1C2A0E]/20 focus:border-[#1C2A0E]">
					<svg xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 -translate-y-1/2">
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
					</svg>
				</div>
			</div>

			<!-- Search Button -->
			<div class="md:col-span-2">
				<label class="block text-sm font-medium text-transparent mb-2">Search</label>
				<button type="button"
                (click)="search()"
					id="clearButton"
					class="inline-flex items-center w-full md:w-fit border border-[#1C2A0E] rounded-full px-3 py-2 cursor-pointer text-sm text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all duration-300 justify-center md:justify-start">
					<svg xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						width="20"
						height="20">
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="M10 10l6 6m-4-6a4 4 0 11-8 0 4 4 0 018 0z"></path>
					</svg>
					Search
				</button>
			</div>
		</form>
	</div>
</section>

<!-- Results Grid Section: Displays search results -->
<section class="py-5 bg-gray-50 relative">
	<div class="max-w-6xl mx-auto px-2 ">
		<!-- Dynamic Content Container -->
		<div class="space-y-2 overflow-auto">

			<!-- -Loader for screen when data is loading -->
			<div *ngIf="isLoading"
				class="z-10 rounded h-auto absolute inset-0 flex items-start justify-center bg-white bg-opacity-50">
				<div class="flex flex-col items-center">
					<div class="w-12 h-12 border-4 border-blue-500 border-solid rounded-full animate-spin border-t-transparent"></div>
					<p class="mt-4 text-gray-700 text-lg font-medium">Please wait...</p>
				</div>
			</div>

            <div *ngIf="noDataFound" class="flex items-center justify-center min-h-[150px] bg-gray-50 rounded-lg border border-gray-300 shadow-sm">
                <p class="text-lg font-medium text-red-600">Oops! No Data Available</p>
              </div>


			<app-search-village *ngIf="activeTab==GlobalEnums.village"></app-search-village>
			<app-search-homestay *ngIf="activeTab==GlobalEnums.homestays"></app-search-homestay>
			<app-search-activity *ngIf="activeTab==GlobalEnums.activities"></app-search-activity>
			<app-search-product *ngIf="activeTab==GlobalEnums.product"></app-search-product>
			<app-search-event *ngIf="activeTab==GlobalEnums.events"></app-search-event>
       
		</div>
	</div>

</section>
