<app-profile></app-profile>

<section class="mt-6 border-t border-gray-200 pt-8 px-5">
    <h2 class="ml-2 text-xl font-semibold mb-4">Nearby Homestays</h2>
    
   <app-homestays-carousel></app-homestays-carousel><!---------Homestays Carousel---------->
</section>

  <!-- Activities Section -->
  <section class="mt-6 border-t border-gray-200 pt-8 px-5">
    <h2 class="ml-2 text-xl font-semibold mb-4">Local Activities & Experiences</h2>
    <app-adventures></app-adventures> <!----------------Advantures Carousel------------------->
</section>


  <!-- Events Section -->
  <section class="mt-6 border-t border-gray-200 pt-8 px-5">
    <div class="flex items-center justify-between mb-6">
        <h2 class="text-xl ml-1 font-semibold">Upcoming Events</h2>
        <div class="text-sm text-gray-600">Showing events in East Sikkim</div>
    </div>
    <app-events-carousel></app-events-carousel><!--------------Events Calender----------------->
  </section>

 <!-- Products Section -->
 <section class="mt-6 border-t border-gray-200 pt-8 px-8">
    <h2 class="ml-1  text-xl font-semibold mb-6">Local Products</h2>
    <app-products-carousel></app-products-carousel> <!----------Product carousel----------->
</section>

