

      <!--  Village Carousel Container -->
      <div class="owl-carousel owl-theme village-carousel">
        <div class="item" *ngFor="let village of Villages; let i=index">
          <div class="group flex flex-col h-[24rem]">
            <div class="relative overflow-hidden rounded-lg mb-4 aspect-square min-h-[180px] max-h-[180px]">
              <img 
                [src]="village.image"
                [alt]="village.name" 
                class="w-full h-full object-cover transform group-hover:scale-105 transition duration-500"
              />
            </div>
            <div class="flex flex-col flex-grow">
              <h4 class="text-lg mb-2 font-semibold">{{village.name}}</h4>
              <span class="inline-block w-fit px-3 py-1 rounded-full text-xs font-medium transition-all duration-300 hover:text-white mb-3" [ngClass]="getClass(i+1)">{{village.region}}</span>
              <p class="text-gray-700 mb-3 line-clamp-3 text-base">
                {{village.description}}
              </p>
              <div class="mt-2">
                <a [routerLink]="'/village'" class="inline-flex items-center w-fit border border-[#1C2A0E] rounded-full px-4 py-1.5 text-sm text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all duration-300">
                  Know More 
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 ml-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


